.navbar {
    background-color: rgb(138, 218, 250);
    height: 10vh;
}

.navbar .nav-link {
    color: rgb(21, 24, 22);
    text-transform: uppercase;
    font-weight: 900;
}

.btn {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 18px;
}

.btn-renzie{
    background-color: #FFF;
    border: 2px solid rgb(140, 205, 235);
    border-radius: 60px;
    transition: all ease-in 0.5s;
}

.btn-renzie:hover {
    color:light;
    border: 2px solid rgb(41, 34, 34);
}

.ren {
    width: 7%;
}

.banner {
    background-image:linear-gradient(90deg, rgba(49, 46, 102, 0.404) 0%, rgba(32, 32, 83, 0.164) 35%, rgb(13, 33, 37) 100%), url(anime-eyes-illustration_23-2151660499.avif);
    height: 90vh;
    background-size: cover;
}
h1 {
    font-size: 45px;
    color: rgb(243, 243, 243);
    text-transform: uppercase;
    font-weight: 800;
}

.banner p {
    color: rgb(245, 238, 238);
    font-size: 20px;
}


section {
    padding: 100px 0;

}

#about h2, #about h3 {
    text-transform: uppercase;
    font-weight: 800;

}
#about h3 {
    color: burlywood;
}

#about img {
    border: 7px white;
    box-shadow:0 0 rgb(155, 215, 210);
    border-radius: 25px;
}

.card-img-top {
    width: 35%
}

.card-img-top {
    width: 40%
}

.card {
    padding: 25px 20px;
    transition: all ease-in 0.5s;
    border: #697fa5;
    box-shadow: 0 0 15px 0 rgb(138, 218, 250);
    border-radius: 25px;
    margin-top: 20px;
}

.card:hover {
    background-color: rgb(108, 120, 185);
    box-shadow: 0 0 15px cornflowerblue
}

.card:hover .card-title,
.card:hover .card-text {
    color: rgb(222, 184, 135);

}

#services h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 55px;
    color: rgb(16, 17, 17);
    margin-bottom: 30px;
}

#services {
    background: #b4b4fbb2;
}

#reviews {
    background: rgb(21, 29, 52);
}

.testimonial {
    border: 2px solid#FFF;
    padding: 20px;
    border-radius:20px;
    margin-top:20px;
}

.testimonial img {
    width:75px;
    height:75px;
    border-radius:50%;
    border: 2px solid #FFF;
}

.faq-section {
        ma-width: 800px;
        margin: auto;
        margin-top: 0%30px;

}

.according-item {
        margin-bottom: 20px;
        border-radius: 0 !important;

}

.according-button {
        background-color: rgb(60, 58, 76);
        border: none;
        border-bottom: 1p solid coral;
        border-radius: 0 !important;
        padding: 15px;
        font-size: 18px;
        font-weight: 500;
        color: rgb(55, 49, 67);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

}

.accordion-body {
        border-left: 3px solid #0a1737;
        padding: 10px 15px;
        margin-left: 0;
        background-color: aliceblue;

}

.accordion-button:not(.collapsed) {
        background-color: #0a1737;
        color: #FFF;

}

footer {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #0a1737;
}

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}

@media screen and (max-width:767px) {

    h1{
        font-size: 45px ;

    }
    section {
        padding: 60px 20px
    }

    #about img {
        height: 300px;
        width: 300px;
        margin: 30px;
    }
}

 


